.AboutFactory {
    .the-vision {
        margin-bottom: 80px;
        .the-vision__img {
            img {
                width: 100%;
                max-height: 250px;
            }
        }
        .the-points {
            div {
                margin-bottom: 15px;
            }
        }
    }
    .the-points {
        p {
            line-height: 1;
            font-size: 2rem;
            font-weight: bold;
            color: $primary-color;
        }
        div {
            margin-bottom: 5px;

            img {
                width: 11px;
                height: 11px;
                margin-left: 5px;
            }
            span {
                color: $secondary-text-color;
            }
        }
    }
    .experience {
        h4 {
            font-size: 2.2rem;
            margin-bottom: 25px;
        }
        color: #fff;
        .the-points {
            div {
                i {
                    color: #fff;
                }
                span {
                    color: #fff;
                }
            }
        }
    }

    .product-services {
        margin-bottom: 80px;
        h3 {
            color: $primary-color;
            font-size: 2.5rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 60px;
        }
        .product-services__left-side {
            img {
                width: 100%;
            }
        }
    }

    .what-special-of-us {
        margin-bottom: 50px;
        padding: 40px 0 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        min-height: 400px;

        .bg-img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            object-fit: cover;
        }
        .container {
            z-index: 99;
        }
        .what-special-of-us__content {
            width: 70%;
            margin: auto;
        }
    }

    .why-us {
        // position: relative;
        // height: 1000px;

        display: flex;
        max-width: 1238px;
        margin-left: auto;
        .why-us__main-img {
            // position: absolute;
            // right: 0;
            // top: 0;
            width: 580px;
        }
        .why-us__details {
            // margin-right: 188px;
            h3 {
                color: $primary-color;
                font-size: 2.8rem;
                margin-bottom: 45px;
                font-weight: bold;
                padding-right: 40px;
            }
            ul {
                padding: 0;
                li {
                    padding: 15px 15px 0 15px;
                    background-color: white;
                    padding-right: 40px;
                    img {
                        width: 100%;
                        margin-right: -40px;
                    }
                    h4 {
                        color: $primary-color;
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    p {
                        color: $secondary-text-color;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}
@include respond(desktop) {
    .why-us {
        max-width: 1900px !important;
    }
}
@include respond(laptop) {
    .why-us {
        max-width: 980px !important;
        .why-us__main-img {
            width: 500px !important;
        }
    }
}
@include respond(small-laptop) {
    .AboutFactory {
        .the-vision {
            margin-bottom: 80px;
            .the-vision__img {
                img {
                    width: 100%;
                    max-height: 150px;
                    object-fit: cover;
                    margin-bottom: 15px;
                }
            }
            .the-points {
                div {
                    margin-bottom: 15px;
                }
            }
        }

        .product-services {
            .product-services__left-side {
                img {
                    max-height: 300px;
                    object-fit: cover;
                    margin-bottom: 20px;
                }
            }
        }
        .what-special-of-us {
            .what-special-of-us__content {
                width: 100%;
                margin: auto;
            }
        }
    }

    .why-us {
        max-width: 1060px !important;
        flex-direction: column;
        .why-us__main-img {
            width: 100% !important;
            object-fit: cover;
            height: 300px;
            margin-bottom: 20px;
        }

        .why-us__details {
            h3 {
                margin-bottom: 25px !important;
                padding-right: 0px !important;
            }
            ul {
                li {
                    padding-right: 0px !important;
                    img {
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }
}

@include respond(tablet) {
    .AboutFactory {
        .product-services {
            margin-bottom: 40px;
            .product-services__left-side {
                img {
                    max-height: 200px;
                    object-fit: cover;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@include respond(phone) {
    .AboutFactory {
        .product-services {
            .product-services__left-side {
                img {
                    max-height: 150px;
                }
            }
        }

        .the-points {
            p {
                font-size: 1.6rem;
            }
            div {
                img {
                    width: 9px;
                    height: 9px;
                }
            }
        }
    }
}
