@import "../../../abstract/mixins";

.company-history {
    margin: 80px;
    .company-history__title {
        margin-bottom: 50px;
        p {
            color: $primary-color;
            font-size: 1.4rem;
            text-align: center;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 15px;
        }
        h3 {
            color: $secondary-color;
            font-size: 2rem;
            margin-bottom: 25px;
            font-weight: bold;
            text-align: center;
        }
        span {
            color: $secondary-text-color;
            font-size: 1.2rem;
        }
    }

    .timeLine-section {
        position: relative;
        .history-years {
            position: absolute;
            top: 140px;
            right: calc(25% - 117px);
            width: 234px;
        }
        .rt-timeline-container {
            padding: 1em 0;
            li:nth-child(3) {
                margin-top: 250px;
            }
            .rt-event {
                min-height: auto;
                margin-bottom: 75px;
            }
            .rt-timeline {
                .rt-label-container {
                    .rt-label {
                        background: $primary-color !important;
                    }
                }

                .rt-backing {
                    background-color: #fff;
                    .rt-header-container {
                        background-color: $primary-color;

                        .custom-header {
                            display: flex;
                            align-items: center;
                            padding: 20px 20px 20px 10px;
                            h2 {
                                text-align: center;
                                padding-left: 10px;
                            }
                            p {
                                text-align: center;
                                line-height: 1.4;
                                border-right: 1px solid rgba(192, 192, 192, 0.623);
                                padding-right: 20px;

                                margin-right: 20px;
                                margin: auto;
                                font-size: 2rem;
                            }
                        }
                    }
                    .rt-text-container {
                        padding: 20px;

                        max-height: 1000px;
                        padding-bottom: 0;
                        p {
                            color: $secondary-text-color;
                            font-size: 18px;
                            text-align: right;
                        }
                        &::before {
                            display: none !important;
                        }
                    }
                    .rt-footer-container {
                        padding: 20px;
                        background-color: #fff;
                        border-radius: 10px;

                        img {
                            width: 100%;
                            max-height: 300px;
                            object-fit: cover;
                        }
                    }
                    .rt-svg-container {
                        .rt-arrow {
                            color: $primary-color;
                        }
                        .rt-dot {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

@include respond(laptop) {
    .company-history {
        .timeLine-section {
            .history-years {
                right: calc(25% - 127px);
                width: 214px;
            }
            .rt-timeline-container {
                .rt-timeline {
                    .rt-backing {
                        .rt-header-container {
                            .custom-header {
                                h2 {
                                    font-size: 1.6rem;
                                }
                                p {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                        .rt-text-container {
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(small-laptop) {
    .company-history {
        .timeLine-section {
            .history-years {
                top: 140px;
                right: calc(25% - 127px);
                width: 214px;
            }
            .rt-timeline-container {
                .rt-timeline {
                    .rt-backing {
                        .rt-header-container {
                            .custom-header {
                                padding: 15px 15px 15px 10px;
                                h2 {
                                    padding-left: 10px;
                                    font-size: 1.4rem;
                                }
                                p {
                                    padding-right: 20px;
                                    font-size: 1.4rem;
                                }
                            }
                        }
                        .rt-text-container {
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(tablet) {
    .company-history {
        .timeLine-section {
            .history-years {
                // top: 140px;
                // right: calc(25% - 127px);
                // width: 214px;
                display: none;
            }
            .rt-timeline-container {
                li:nth-child(3) {
                    margin-top: 1em;
                }
                .rt-timeline {
                    .rt-event {
                        width: 100%;
                        .rt-backing {
                            .rt-header-container {
                                .custom-header {
                                    h2 {
                                        font-size: 1.2rem;
                                    }
                                    p {
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                            .rt-svg-container {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(phone) {
    .company-history {
        .timeLine-section {
            .history-years {
                // top: 140px;
                // right: calc(25% - 127px);
                // width: 214px;
                display: none;
            }
            .rt-timeline-container {
                li:nth-child(3) {
                    margin-top: 1em;
                }
                .rt-timeline {
                    .rt-event {
                        width: 100%;
                        .rt-backing {
                            .rt-header-container {
                                .custom-header {
                                    padding: 10px;
                                    h2 {
                                        padding-left: 5px;
                                        font-size: 1rem;
                                    }
                                    p {
                                        padding-right: 10px;
                                        font-size: 1rem;
                                    }
                                }
                            }

                            .rt-text-container {
                                p {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
