@import "../../../abstract/mixins";

.production-departments {
    margin: 100px 0;
    .section-title {
        text-align: center;
        p {
            font-size: 1.7rem;
            font-weight: bold;
        }
    }
    p {
        color: #4d4d4d;
        font-size: 18px;
    }
    .production-departments__contents {
        margin-top: 100px;
        .single-section {
            margin-bottom: 25px;
            .details-cart {
                .section-title {
                    text-align: right;
                    h2 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                }
                padding: 20px 20px 20px 20px;
                background-color: #c0c0c026;
                margin-bottom: 25px;
            }
            img {
                width: 100%;
            }
            .details-cart__images {
                img {
                    width: 100%;
                }
            }
            img {
                height: 180px;
            }
            .main-img {
                height: 100%;

                img {
                    height: 100%;
                    width: 100%;

                    object-fit: cover;
                }
            }
            .footer-content {
                margin-top: 20px;
                img {
                    height: 180px;
                    object-fit: cover;
                }
            }
        }
    }
}

@include respond(laptop) {
    .production-departments {
        .production-departments__contents {
            .single-section {
                margin-bottom: 25px;
                img {
                    height: 140px;
                }
                .main-img {
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .footer-content {
                    img {
                        height: 140px;
                    }
                }
            }
        }
    }
}

@include respond(tablet) {
    .production-departments {
        .production-departments__contents {
            .single-section {
                img {
                    margin-bottom: 20px;
                }
                .footer-content {
                    margin-top: 20px;
                    img {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

@include respond(tablet) {
    .production-departments {
        .section-title {
            p {
                font-size: 1.3rem;
            }
        }
        p {
            font-size: 14px;
        }
        .production-departments__contents {
            margin-top: 50px;
            .single-section {
                margin-bottom: 25px;
                .details-cart {
                    .section-title {
                        h2 {
                            font-size: 1.3rem;
                        }
                        p {
                            font-size: 1.3rem;
                        }
                    }
                }
                img {
                    height: 110px;
                }
                .main-img {
                    img {
                        margin-bottom: 0;
                    }
                }
                .footer-content {
                    img {
                        height: 110px;
                    }
                }
            }
        }
    }
}
