@font-face {
  font-family: OpenSans;
  src: url(../../fonts/OpenSans-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: OpenSansBold;
  src: url(../../fonts/OpenSans-Bold.ttf);
  font-display: swap;
}

//-*----------  START FONTS BASE  ----------*/

$primaryFont: "OpenSans", sans-serif;
$primaryFontBoldt: "OpenSansBold", sans-serif;
$base-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//-*----------  END FONTS BASE  ----------*/

//%-*=====  End of GLOBAL STYLE SECTION  ======*-//

$main-font: $primaryFont, $base-fonts;
$main-font-bold: $primaryFontBoldt, $base-fonts;

$primary-color: #50a433;

$secondary-color: #707070;
$third-text-color: #312783;
$forth-text-color: #454545;

// $primary-text-color: #2d2d2d;
// $primary-background-color: white;
// $secondary-background-color: #1d252c;

$default-font-size: 1rem;
