@import "../../abstract/mixins";

.footer {
    background: url("../../../../footer.png") no-repeat center;
    background-size: cover;
    min-height: 400px;
    width: 100%;
    padding: 50px 0 90px 0;
    color: #fff;
    position: relative;

    .footer__right-side {
        img {
            width: 100%;
            max-width: 180px;
            margin-bottom: 20px;
        }
        h5 {
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 20px;
        }
        span {
            font-size: 13px;
            color: #b4b4b4;
        }
        p {
            font-size: 1.6rem;
            margin-top: 20px;
        }
        ul {
            display: flex;
            align-items: center;
            column-gap: 20px;
            width: 100%;
            li {
                a {
                    background-color: #fff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        font-size: 24px;
                        color: $primary-color;
                    }
                    transition: ease-in-out 0.3s;

                    &:hover {
                        background-color: $primary-color;
                        transition: ease-in-out 0.3s;
                        i {
                            color: #fff;
                            transition: ease-in-out 0.3s;
                        }
                    }
                }
            }
        }
    }
    .footer__center {
        p {
            font-size: 1.6rem;
            margin-top: 20px;
        }

        ul {
            li {
                border-bottom: 1px solid rgba(192, 192, 192, 0.548);
                padding: 5px;
                a {
                    color: #b4b4b4;
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    transition: ease-in-out 0.3s;
                    font-size: 15px;

                    .fa {
                        transition: ease-in-out 0.3s;
                    }
                    &:hover {
                        column-gap: 5px;
                        transition: ease-in-out 0.3s;
                        color: #fff;

                        .fa {
                            margin-right: 5px;
                            transition: ease-in-out 0.3s;
                        }
                    }
                }
            }
        }
    }

    .footer__left-side {
        p {
            font-size: 1.6rem;
            margin-top: 20px;
        }
    }
    .copy-write {
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        color: #b4b4b4;
        font-size: 14px;
        padding: 15px;
        position: absolute;
        bottom: 0;
        width: 100%;
        direction: ltr;
    }
}

@include respond(laptop) {
    .footer {
        padding: 50px 0 90px 0;
        .footer__right-side {
            img {
                max-width: 160px;
                margin-bottom: 20px;
            }
            h5 {
                font-size: 1.4rem;
                margin-bottom: 20px;
            }
            span {
                font-size: 12px;
            }
            p {
                font-size: 1.4rem;
                margin-top: 20px;
            }
            ul {
                column-gap: 20px;
                li {
                    a {
                        width: 40px;
                        height: 40px;
                        i {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .footer__center {
            p {
                font-size: 1.5rem;
                margin-top: 20px;
            }

            ul {
                li {
                    padding: 5px;
                    a {
                        column-gap: 10px;
                        font-size: 15px;

                        &:hover {
                            column-gap: 5px;
                            .fa {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }

        .footer__left-side {
            p {
                font-size: 1.5rem;
                margin-top: 20px;
            }
        }
        .copy-write {
            font-size: 14px;
            padding: 15px;
        }
    }
}

@include respond(small-laptop) {
    .footer {
        padding: 50px 0 90px 0;
        .footer__right-side {
            text-align: center;

            ul {
                justify-content: center;
            }
        }
    }
}
