@import "../../abstract/mixins";
.headerWithSlider {
    padding: 10px 0 0 0;
    position: relative;
    z-index: 99 !important;
    margin-bottom: -124px;

    .header-content {
        display: flex;
        column-gap: 75px;
        align-items: center;
        .logo {
            width: 110px;
            object-fit: scale-down;
        }
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            column-gap: 25px;
            li {
                .dropdown {
                    .dropdown-toggle {
                        background-color: transparent !important;
                        color: #fff;
                        font-size: 14px;
                        transition: ease-in-out 0.3s;
                        display: flex;
                        align-items: baseline;
                        column-gap: 5px;
                        border: 0;
                        border-radius: 0;
                        margin-bottom: 5px;
                        font-weight: bold;

                        border-bottom: 2px solid transparent;

                        &::after {
                            display: none;
                        }
                        &:hover {
                            transition: ease-in-out 0.3s;
                            border-color: #fff;
                            .fa {
                                transition: ease-in-out 0.3s;
                            }
                        }
                        .fa {
                            color: #fff;
                            font-size: 13px;
                        }
                    }
                    .dropdown-menu {
                        inset: 0px auto auto auto !important;
                        border-radius: 0;
                        padding: 0;
                        background-color: #eeeeee;
                        .dropdown-item {
                            color: $primary-color;
                            border-bottom: 1px solid silver;
                            font-weight: 500;
                            padding: 5px 5px;
                        }
                    }
                }
                a {
                    color: #fff;
                    font-size: 14px;
                    transition: ease-in-out 0.3s;
                    display: flex;
                    align-items: baseline;
                    column-gap: 5px;
                    padding-bottom: 5px;
                    border-bottom: 2px solid transparent;
                    font-weight: bold;

                    &:hover {
                        transition: ease-in-out 0.3s;
                        color: #fff !important;
                        // background-color: $primary-color;
                        .fa {
                            filter: brightness(0);
                            transition: ease-in-out 0.3s;
                        }
                        border-color: #fff;
                    }
                }
            }
        }

        .header-lang {
            margin-right: auto;
            display: flex;
            align-items: center;
            column-gap: 20px;
            color: #fff;
            .searchIcon {
                width: 18px;
                height: 18px;
                object-fit: scale-down;
            }
            div {
                column-gap: 5px;
                display: flex;
                align-items: center;
                img {
                    max-width: 30px;
                    cursor: pointer;
                    object-fit: scale-down;
                }
            }
        }
        .menuIcon {
            width: 30px;
            height: 30px;
            object-fit: scale-down;
            display: none;
        }
    }
    .d-none-web {
        display: none;
    }
    .mobile-search {
        border: 1px solid #006332;
        border-radius: 20px;
        overflow: hidden;
        margin: 0 !important;
        .input-group-text {
            background-color: #006332;
            border-radius: 0 !important;
            border: 0;
            border-top: 0;
            border-bottom: 0;
            border-right: 0;
            img {
                width: 15px;
                filter: brightness(400);
            }
        }
        .form-control {
            font-size: 14px;
            border: 0;
        }
    }
    .web-search {
        margin: auto !important;
        margin-top: 10px !important;
        max-width: 400px;
        transition: ease-in-out 0.4s;
    }
}

@include respond(laptop) {
    .headerWithSlider .header-content {
        column-gap: 35px;
        ul {
            column-gap: 15px;
            li {
                a {
                    font-size: 13px;
                }
            }
        }
    }
}

@include respond(small-laptop) {
    .headerWithSlider {
        .header-content {
            column-gap: 25px;
            .logo {
                width: 100px;
            }
            ul {
                display: none;
                column-gap: 10px;
                li {
                    a {
                        font-size: 13px;
                    }
                }
            }

            .header-lang {
                display: none;
                column-gap: 10px;
                div {
                    img {
                        max-width: 25px;
                    }
                }
            }
            .menuIcon {
                margin-right: auto;
                display: block;
            }
            .d-none-web {
                display: flex;
            }
        }
        .web-search {
            display: none;
        }
    }
}
