@import "../../abstract/mixins";
.header {
    padding-top: 20px;
    .header-contents {
        padding: 10px 0;

        a {
            img {
            }
        }
        .header-list {
            column-gap: 25px;
            margin-left: 30px;
            margin-bottom: 0;
            li {
                a {
                    color: $primary-color;
                    font-weight: bold;
                    transition: ease-in-out 0.3s;

                    &:hover {
                        color: $third-text-color;
                        transition: ease-in-out 0.3s;
                    }
                }
            }
        }
        .cart-fav {
            margin: auto;
            column-gap: 20px;
            .single-cart {
                position: relative;
                img {
                    width: 25px;
                    object-fit: scale-down;
                }
                span {
                    position: absolute;
                    background-color: $third-text-color;
                    color: #fff;
                    font-size: 11px;
                    border-radius: 50%;
                    min-width: 22px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -7px;
                    right: -10px;
                    border: 2px solid #fff;
                    font-weight: bold;
                }
            }
        }

        .user-auth-Buttons {
            margin-left: auto;
            font-weight: bold;
            color: $secondary-color;

            a {
                color: $secondary-color;
                transition: ease-in-out 0.3s;

                &:hover {
                    color: $primary-color;
                    transition: ease-in-out 0.3s;
                }
            }
        }

        .user-dropdown {
            column-gap: 10px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .dropdown {
                button {
                    background-color: transparent;
                    border: 0;
                    color: $primary-color;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    &::after {
                        margin-left: 16px;
                    }
                    div {
                        text-align: left;
                        span {
                            font-size: 11px;
                            margin-bottom: -3px;
                            display: block;
                        }
                        p {
                            margin: 0;
                            font-weight: bold;
                            color: $forth-text-color;
                        }
                    }
                }
            }
        }
    }
    // push menu start
    .mobile-push-menu {
        display: none;
        color: $primary-color;
        ul {
            padding: 0;
            li {
                div {
                    padding-bottom: 10px;
                }
            }
        }
    }

    .bm-overlay {
        top: 0;
        left: 0;
        z-index: 9888888 !important;
    }

    .bm-burger-button {
        position: relative !important;
        margin-right: auto;
    }

    .bm-menu-wrap {
        top: 0;
        left: 0;
        z-index: 9999999999 !important;
        width: 40% !important;
        background-color: $primary-color;
    }

    .sideMenu_logo {
        text-align: center;
        background-color: #fff;

        img {
            margin: auto;
            padding: 8px 0;
        }

        &:focus {
            outline: none !important;
        }
    }

    .sideMenu_List {
        margin-top: 20px;
        padding: 0 10px;

        span,
        a,
        button {
            display: block;
            padding: 10px;
            color: white !important;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                padding: 5px;
                border-radius: 50px;
                width: 35px;
                height: 35px;
                background-color: $primary-color;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 0;
                font-size: 13px;
                i {
                    font-size: 10px;
                    // margin-left: 20px;
                    // margin-right: 3px;
                }
            }
        }

        span {
            font-weight: bold;
            letter-spacing: 1px;
        }

        li {
            text-transform: capitalize;
            border-bottom: 1px solid #ffffff6e;

            &:not(:last-of-type) {
                margin-bottom: 1rem;
            }
        }

        button {
            width: 100%;
            text-align: left;
            background: transparent;
        }
    }

    .sideMenu_loginButtons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;

        span {
            width: 50%;
            text-align: center;
            border: 0;

            &:first-child {
                padding-right: 5px;
                border-right: 2px solid white;
            }
        }
    }
    // push menu end
}

@include respond(small-laptop) {
    .header .header-contents .header-list {
        margin-left: 0;
        column-gap: 15px;
        a {
            font-size: 15px;
        }
    }
    .header .header-contents .user-auth-Buttons a {
        font-size: 15px;
    }

    .header a img {
        max-width: 130px;
    }
    header .header-contents .cart-fav {
        column-gap: 15px;
    }
    .header .header-contents .user-dropdown {
        column-gap: 5px;
    }
    .header .header-contents .user-dropdown img {
        width: 35px;
        height: 35px;
    }
    .header .header-contents .user-dropdown .dropdown button::after {
        margin-left: 10px;
    }
    .header .header-contents .user-dropdown .dropdown button div p {
        font-size: 15px;
    }

    .header .header-contents {
        justify-content: space-between;
    }
    .header .header-contents .header-list,
    .cart-fav,
    .user-auth-Buttons {
        display: none;
    }

    .header .mobile-push-menu {
        display: block;
    }

    .mobile-push-menu .bm-icon {
        font-size: 22px;
    }
}
