@import "../../abstract/mixins";
.partners {
    margin-bottom: 50px;
    h3 {
        margin-bottom: 40px;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
    }
    ul {
        display: flex;
        align-items: center;
        column-gap: 20px;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        li {
            border: 1px solid silver;
            border-radius: 10px;
            padding: 10px;
            width: 18%;

            img {
                width: 100%;
                object-fit: scale-down;
            }
        }
    }
    a {
        color: #006335;
        text-align: left;
        display: block;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        transition: ease-in-out 0.3s;
        i {
            vertical-align: bottom;
            margin-right: 10px;
        }
    }
}

@include respond(large-phone) {
    .partners {
        h3 {
            margin-bottom: 40px;
            font-size: 2.5rem;
        }
        ul {
            column-gap: 15px;
            justify-content: flex-start;
            flex-wrap: wrap;
            li {
                padding: 10px;
                width: 30%;
                margin-bottom: 15px;

                img {
                    width: 100%;
                    object-fit: scale-down;
                }
            }
        }
        a {
            color: #006335;
            font-size: 18px;
            font-weight: bold;
            transition: ease-in-out 0.3s;
            i {
                vertical-align: bottom;
                margin-right: 10px;
            }
        }
    }
}
