@import "../../../abstract/mixins";
.about-page {
  overflow: hidden;
  .about-page__about-passages-container {
    position: relative;
    background-color: #f5f5f5;
    border: solid 1px #cecece;
    border-radius: 40px 20px;
    padding: 30px;
    margin-top: 10px;
    img {
      width: 400px;
      position: absolute;
      top: -92px;
      right: -91px;
    }
    .about-page__first-article {
      width: 1000px;
    }
    h4 {
      color: $primary-color;
      font-size: 25px;
      font-family: $main-font-bold;
    }
  }

  .page-title {
    padding-left: 30px;
  }
}
@include respond(smallDesktop) {
  .about-page {
    .about-page__about-passages-container {
      img {
        width: 431px;
        top: -107px;
        right: -108px;
      }
      .about-page__first-article {
        width: 850px;
      }
    }
  }
}
@include respond(laptop) {
  .about-page {
    .about-page__about-passages-container {
      .about-page__first-article {
        width: 750px;
      }
      img {
        width: 363px;
        top: -92px;
        right: -85px;
      }
    }
  }
}
@include respond(small-laptop) {
  .about-page {
    .about-page__about-passages-container {
      img {
        width: 337px;
        top: -84px;
        right: -79px;
      }
      .about-page__first-article {
        width: 500px;
      }
      h4 {
        font-size: 18px;
      }
    }
    .page-label {
      width: 56%;
    }
    .page-title {
      font-size: 40px;
    }
  }
}
@include respond(tablet) {
  .about-page {
    .about-page__about-passages-container {
      img {
        width: 277px;
        top: -84px;
        right: -100px;
      }
      .about-page__first-article {
        width: 450px;
      }
    }
    .page-title {
      font-size: 30px;
    }
  }
}
@include respond(large-phone) {
  .about-page {
    .about-page__about-passages-container {
      img {
        display: none;
      }
      .about-page__first-article {
        width: auto;
      }
    }
    .page-label {
      width: 61%;
    }
    .page-title {
      font-size: 25px;
    }
  }
}
@include respond(phone) {
  .about-page {
    .page-title {
      font-size: 16px;
    }
  }
}
