@import "../../../abstract/mixins";

.Laboratory {
    margin: 50px 0;
    .container {
        position: relative;
        .qrCode {
            position: absolute;
            top: -100px;
            left: 0;
            padding: 15px;
            background-color: #fff;
            width: 100px !important;
            height: 100px !important;
        }
    }
    .Laboratory-images {
        margin-bottom: 100px;

        h2 {
            color: $primary-color;
            font-weight: bold;
            margin-bottom: 50px;
        }
        img {
            width: 100%;
            margin-bottom: 20px;
        }
        .Laboratory-images__right-side {
            img {
                height: 200px;
                object-fit: cover;
            }
        }
        .main-img {
            height: 100%;
            img {
                height: 420px;
            }
        }
    }

    .introduction {
        position: relative;
        .qrCode {
            top: -25px;
            padding: 0;
            width: 50px !important;
            height: 50px !important;
        }
        h5 {
            color: $primary-color;
            font-weight: bold;
            font-size: 2rem;
            margin-bottom: 40px;
        }

        p {
            color: $secondary-text-color;
            margin-bottom: 50px;
        }
        a {
            background-color: $primary-color;
            color: #fff !important;
            text-align: center;
            width: 200px;
            padding: 10px;
            clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);

            display: block;
        }
    }
    .introduction-video {
        img {
            max-height: 350px;
            width: 100%;
            object-fit: cover;
        }
        button {
            margin-top: 10px;

            background-color: $primary-color;
            padding: 10px;
            color: #fff;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            cursor: pointer;

            img {
                width: 30px;
                object-fit: scale-down;
            }
        }
    }

    .our-vision {
        background: url("../../../../../Rectangle\ 36451.png");
        background-size: cover;
        background-repeat: no-repeat;
        // height: 400px;
        padding: 70px 0;
        margin: 50px 0;
        h3 {
            color: #fff;
            margin-bottom: 50px;
        }
        .container {
            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 80px;
                width: 100%;
                p {
                    color: #fff;
                    padding: 50px;
                    background-color: #c0c0c07a;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .AgriculturalCovers__p {
                p {
                    min-height: 175px;
                }
            }
        }
    }

    .Mechanism-Action {
        background-color: #ebebeb;
        padding: 40px 0;

        .main-img {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                max-height: 350px;
                object-fit: contain;
            }
        }
        .Mechanism-Action__details {
            h3 {
                color: $primary-color;
                font-size: 2rem;
                margin-bottom: 20px;
            }
            span {
                color: $secondary-text-color;
                display: block;
            }
        }
    }
    .quality-section {
        margin: 50px 0;
        h3 {
            color: $primary-color;
            font-size: 2rem;
            margin-bottom: 30px;
        }
        .quality-section__card {
            display: flex;
            background-color: #ebebeb;
            margin-bottom: 20px;
            img {
                width: 45%;
                max-height: 180px;
            }
            p {
                width: 55%;
                padding: 25px;
                font-size: 15px;
                margin: 0;
                color: $primary-color;
            }
        }
        .quality-section__card-special {
            display: flex;
            background-color: #ebebeb;
            margin-bottom: 20px;
            div {
                width: 50%;
                padding: 30px;
                p {
                    font-size: 14px;
                    padding: 0;
                    margin-bottom: 20px;
                    color: $primary-color;
                }
            }
            img {
                width: 50%;
                max-height: 500px;
                object-fit: cover;
            }
        }
    }

    .Laboratory-note {
        margin: 30px 0;

        background-color: #d9e8e1;
        padding: 15px 0;
        p {
            color: $primary-color;
            margin-bottom: 0px;
            font-size: 15px;
        }
    }
    .what-sets-us-apart {
        background-color: #c0c0c07a;
        padding: 30px 0;
        margin: 70px 0;
        h3 {
            color: $primary-color;
            font-weight: bold;
            font-size: 1.8rem;
            margin-bottom: 40px;
        }

        .what-sets-us-apart__card {
            color: $primary-color;
            padding: 30px;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;

            margin-bottom: 15px;
            height: 130px;
        }
    }
}

@include respond(laptop) {
    .Laboratory {
        .container {
            .qrCode {
                top: -80px;
                padding: 10px;
                width: 80px !important;
                height: 80px !important;
            }
        }

        .introduction {
            .qrCode {
                top: -25px;
                padding: 0;
                width: 50px !important;
                height: 50px !important;
            }
        }
        .quality-section {
            .quality-section__card {
                img {
                    object-fit: cover;
                }
                p {
                    margin-bottom: 0;
                    height: 185px;
                    font-size: 14px;
                }
            }
        }
        .our-vision {
            .container {
                .AgriculturalCovers__p {
                    p {
                        min-height: 200px;
                    }
                }
            }
        }
    }
}
@include respond(small-laptop) {
    .Laboratory {
        h2 {
            margin-bottom: 50px;
        }
        .Laboratory-images__right-side {
            img {
                height: 170px;
            }
        }
        .main-img {
            img {
                height: 360px;
            }
        }

        .introduction {
            p {
                margin-bottom: 30px;
                font-size: 14px;
            }
            a {
                width: 180px;
                padding: 10 0px;
            }
        }

        .introduction-video {
            button {
                img {
                    width: 25px;
                }
            }
        }

        .Mechanism-Action {
            padding: 40px 0;
            .main-img {
                img {
                    max-height: 350px;
                }
            }
            .Mechanism-Action__details {
                h3 {
                    font-size: 1.6rem;
                    margin-bottom: 15px;
                }
                span {
                    display: block;
                    font-size: 14px;
                }
            }
        }

        .our-vision {
            .container {
                .AgriculturalCovers__p {
                    p {
                        min-height: 275px;
                    }
                }
            }
        }

        .quality-section {
            h3 {
                font-size: 1.6rem;
                margin-bottom: 30px;
            }
            .quality-section__card {
                margin-bottom: 20px;
                p {
                    height: 185px;
                    font-size: 15px;
                    padding: 20px;
                }
            }

            .quality-section__card-special {
                div {
                    width: 50%;
                    padding: 20px;
                    p {
                        font-size: 14px;
                        padding: 0;
                        margin-bottom: 15px;
                    }
                }
                img {
                    width: 50%;
                    max-height: 500px;
                    object-fit: cover;
                }
            }
        }
        .what-sets-us-apart {
            .what-sets-us-apart__card {
                font-size: 15px;
            }
        }
    }
}

@include respond(tablet) {
    .Laboratory {
        h2 {
            margin-bottom: 50px;
        }
        .Laboratory-images__right-side {
            img {
                height: 170px;
            }
        }
        .main-img {
            img {
                height: 170px;
                object-fit: cover;
            }
        }

        .introduction {
            p {
                margin-bottom: 30px;
                font-size: 14px;
            }
            a {
                width: 180px;
                padding: 10 0px;
                margin-bottom: 30px;
            }
        }

        .introduction-video {
            img {
                max-height: 350px;
                width: 100%;
            }
            button {
                margin-top: 10px;
                padding: 10px;
                column-gap: 25px;
                img {
                    width: 25px;
                }
            }
        }

        .our-vision {
            padding: 70px 0;
            h3 {
                color: #fff;
                margin-bottom: 50px;
            }
            .container {
                div {
                    flex-direction: column;
                    width: 100%;
                    p {
                        padding: 50px;
                        width: 100%;
                    }
                }

                .AgriculturalCovers__p {
                    p {
                        min-height: auto;
                    }
                }
            }
        }

        .Mechanism-Action {
            padding: 40px 0;
            .main-img {
                img {
                    margin-bottom: 20px;
                    object-fit: fill;
                }
            }
            .Mechanism-Action__details {
                h3 {
                    font-size: 1.6rem;
                    margin-bottom: 15px;
                }
                span {
                    display: block;
                    font-size: 14px;
                }
            }
        }
        .quality-section {
            .quality-section__card-special {
                flex-direction: column-reverse;

                div {
                    width: 100%;
                    padding: 20px;
                    p {
                        font-size: 14px;
                        padding: 0;
                        margin-bottom: 15px;
                    }
                }
                img {
                    width: 100%;
                    max-height: 250px;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }

        .Laboratory-note {
            p {
                font-size: 13px;
            }
        }
    }
}

@include respond(large-phone) {
    .Laboratory {
        .container {
            .qrCode {
                top: -80px;
                padding: 10px;
                width: 60px !important;
                height: 60px !important;
            }
        }
        .introduction {
            .qrCode {
                top: -30px;
                padding: 0;
                width: 40px !important;
                height: 40px !important;
            }
        }
        .quality-section {
            margin: 30px 0;
            .quality-section__card {
                p {
                    font-size: 14px;
                    height: auto;
                }
            }
        }

        .what-sets-us-apart {
            margin: 50px 0;
            h3 {
                margin-bottom: 30px;
            }

            .what-sets-us-apart__card {
                height: 100px;
                text-align: center;
            }
        }
    }
}
@include respond(phone) {
    .Laboratory {
        position: relative;

        .quality-section {
            h3 {
                font-size: 1.6rem;
                margin-bottom: 30px;
            }
            .quality-section__card {
                margin-bottom: 20px;
                p {
                    height: auto;
                    font-size: 13px;
                    padding: 10px;
                }
            }
        }
    }
}
