@import "../../../abstract/mixins";

.photo-gallery {
    .photo-gallery__title {
        margin: 100px 0;
        text-align: center;
        h6 {
            color: $primary-color;
            font-weight: bold;
            font-size: 1.4rem;
        }
        h3 {
            color: $secondary-color;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 30px;
        }
        p {
            color: $secondary-text-color;
            font-size: 1.4rem;
        }
    }

    .photo-gallery__tabs {
        margin-bottom: 50px;

        .photo-gallery__tabs__contents {
            .photo-gallery__tabs__contents__single-img {
                cursor: pointer;
                height: calc(280px - 0.75rem);
                margin-bottom: 1.5rem;
                width: 100%;
                &:hover {
                    .single-img__info {
                        opacity: 1;
                        transition: ease-in-out 0.5s;
                    }
                }
                .single-img__info {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.7);
                    opacity: 0;
                    transition: ease-in-out 0.5s;
                    padding: 40px;
                    div {
                        color: white;
                        p {
                            font-size: 1rem;
                            line-height: 1;
                        }
                        h2 {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    .tab-list {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        width: fit-content;
        margin-bottom: 40px;
        // overflow: scroll;
        overflow-x: overlay;

        max-width: 100%;

        &::-webkit-scrollbar {
            // width: 0.1rem;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: darken($primary-color, 10%);
            border-radius: 20px;
        }

        li {
            padding: 10px 20px;
            // min-width: 150px;
            text-align: center;
            cursor: pointer;
            color: $primary-color;
            transition: ease-in-out 0.3s;
            font-weight: bold;
            font-size: 18px;
            white-space: nowrap;
        }
        .activeSelected {
            background-color: $primary-color;
            color: #fff;
            transition: ease-in-out 0.3s;
        }
    }

    .photo-gallery__video {
        margin-bottom: 100px;
        span {
            color: $secondary-text-color;
            font-size: 1.2rem;
        }
        .custom-video {
            margin: 50px 0;
            height: 500px !important;
        }
    }
}

@include respond(small-laptop) {
    .photo-gallery {
        .photo-gallery__title {
            margin: 70px 0;
            h6 {
                font-size: 1.3rem;
            }
            h3 {
                font-size: 1.8rem;
                margin-bottom: 30px;
            }
            p {
                font-size: 1.1rem;
            }
        }

        .tab-list {
            margin-bottom: 40px;
            li {
                padding: 10px 20px;
                // min-width: 120px;
                font-size: 16px;
            }
        }
        .photo-gallery__tabs {
            .photo-gallery__tabs__contents {
                .photo-gallery__tabs__contents__single-img {
                    height: 200px;
                    margin-bottom: 1.5rem;
                    .single-img__info {
                        padding: 30px;
                        div {
                            p {
                                font-size: 0.8rem;
                            }
                            h2 {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .photo-gallery__video {
            span {
                font-size: 1rem;
            }
            .custom-video {
                margin: 50px 0;
                height: 350px !important;
            }
        }
    }
}

@include respond(tablet) {
    .photo-gallery {
        .photo-gallery__title {
            margin: 70px 0;
            h6 {
                font-size: 1.3rem;
            }
            h3 {
                font-size: 1.8rem;
                margin-bottom: 30px;
            }
            p {
                font-size: 1.1rem;
            }
        }

        .tab-list {
            margin-bottom: 40px;
            width: 100%;
            justify-content: space-between;
            li {
                font-size: 16px;
            }
        }
        .photo-gallery__tabs {
            .photo-gallery__tabs__contents {
                .photo-gallery__tabs__contents__single-img {
                    .single-img__info {
                        div {
                            p {
                                font-size: 0.8rem;
                            }
                            h2 {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .photo-gallery__video {
            .custom-video {
                height: 300px !important;
            }
        }
    }
}

@include respond(large-phone) {
    .photo-gallery {
        .photo-gallery__title {
            margin: 70px 0;
            h6 {
                font-size: 1.3rem;
            }
            h3 {
                font-size: 1.8rem;
                margin-bottom: 30px;
            }
            p {
                font-size: 1.1rem;
            }
        }

        .tab-list {
            margin-bottom: 40px;
            width: 100%;
            justify-content: space-between;
            overflow: scroll;
            li {
                padding: 10px;
                // min-width: 100px;
                font-size: 14px;
            }
        }
        .photo-gallery__tabs {
            .photo-gallery__tabs__contents {
                .photo-gallery__tabs__contents__single-img {
                    height: 200px;
                    margin-bottom: 1.5rem;
                    .single-img__info {
                        padding: 30px;
                        div {
                            p {
                                font-size: 0.8rem;
                            }
                            h2 {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .photo-gallery__video {
            span {
                font-size: 1rem;
            }
            .custom-video {
                margin: 50px 0;
                height: 250px !important;
            }
        }
    }
}
