.electronic-catalogue {
    // background-image: url("/src/Artboard\ 9-jabaly.png");
    background: url("../../../../../Artboard\ 9-jabaly.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    padding: 60px 0 30px 0;
    margin-bottom: 50px;
    .catalogue-qr {
        .catalogue-qr__description {
            font-size: 1.2rem;
            color: $secondary-text-color;
        }
        ul {
            columns: 2;

            li {
                margin-bottom: 20px;
                a {
                    display: flex;
                    align-items: center;
                    color: $secondary-text-color;
                    .qrCode {
                        margin-top: 3px;
                        width: 45px !important;
                        height: 45px !important;
                        padding: 3px;
                        background-color: #d2d2d26c;
                        border-radius: 5px;
                        box-shadow: 0 0 3px 3px silver;
                    }
                    span {
                        background-color: #f1f0ee;
                        min-width: 75%;
                        padding: 5px 15px 5px 0;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .book-img {
        img {
            width: 100%;
        }
    }
}

@include respond(large-phone) {
    .electronic-catalogue {
        .catalogue-qr {
            .catalogue-qr__description {
                margin-bottom: 20px;
            }
            ul {
                li {
                    a {
                        .qrCode {
                            width: 35px !important;
                            height: 35px !important;
                        }
                    }
                }
            }
        }
    }
}

@include respond(phone) {
    .electronic-catalogue {
        .catalogue-qr {
            ul {
                columns: 1;
            }
        }
    }
}
