.factory-images {
    .factory-images__main-pic {
        cursor: pointer;
        height: 560px;

        &:hover {
            .single-img__info {
                opacity: 1;
                transition: ease-in-out 0.5s;
            }
        }
        .single-img__info {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: ease-in-out 0.5s;
            padding: 80px;
            div {
                color: white;
                p {
                    font-size: 1.8rem;
                    line-height: 1;
                }
                h2 {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .factory-images__left-side {
        .factory-images__left-side__single-img {
            cursor: pointer;
            height: calc(280px - 0.75rem);
            margin-bottom: 1.5rem;
            width: 100%;
            &:hover {
                .single-img__info {
                    opacity: 1;
                    transition: ease-in-out 0.5s;
                }
            }
            .single-img__info {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                opacity: 0;
                transition: ease-in-out 0.5s;
                padding: 40px;
                div {
                    color: white;
                    p {
                        font-size: 1rem;
                        line-height: 1;
                    }
                    h2 {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@include respond(laptop) {
    .factory-images {
        .factory-images__main-pic {
            height: 490px;
            margin-bottom: 1.5rem;
            .single-img__info {
                padding: 80px;
                div {
                    p {
                        font-size: 1.5rem;
                    }
                    h2 {
                        font-size: 2zrem;
                    }
                }
            }
        }

        .factory-images__left-side {
            .factory-images__left-side__single-img {
                height: calc(245px - 0.75rem);
                margin-bottom: 1.5rem;

                .single-img__info {
                    padding: 40px;
                    div {
                        p {
                            font-size: 1rem;
                        }
                        h2 {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

@include respond(tablet) {
    .factory-images {
        .factory-images__main-pic {
            height: 350px;
            .single-img__info {
                padding: 60px;
                div {
                    p {
                        font-size: 1.2rem;
                    }
                    h2 {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .factory-images__left-side {
            .factory-images__left-side__single-img {
                height: calc(220px - 0.75rem);
            }
        }
    }
}

@include respond(phone) {
    .factory-images {
        .factory-images__main-pic {
            height: 280px;
            .single-img__info {
                padding: 60px;
                div {
                    p {
                        font-size: 1.2rem;
                    }
                    h2 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .factory-images__left-side {
            .factory-images__left-side__single-img {
                height: calc(160px - 0.75rem);
            }
        }
    }
}
