@import "../../../abstract/mixins";
.note-Cards {
    margin-top: -80px;
    z-index: 999;
    .note-single-card {
        box-shadow: 0 6px 10px 2px silver;
        padding: 20px;
        text-align: center;
        background-color: #fff;
        color: $secondary-color;
        height: 320px;

        img {
            margin-bottom: 25px;
            object-fit: scale-down;
        }
        h4 {
            margin-bottom: 25px;
            font-size: 2rem;
        }
        p {
            // font-size: 15px;
        }
    }
}

@include respond(small-laptop) {
    .note-Cards {
        margin-top: -80px;
        .note-single-card {
            padding: 20px;
            height: 320px;
            margin-bottom: 30px;
            img {
                width: 80px;
                height: 80px;
            }
            h4 {
                margin-bottom: 20px;
                font-size: 1.5rem;
            }
            p {
                font-size: 15px;
            }
        }
    }
}
