@import "../../../abstract/mixins";

.Partners {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    h3 {
        color: #333333;
        font-size: 2.5rem;
        margin-bottom: 100px;
        font-weight: bold;
    }
    .partner__single {
        box-shadow: 0 0 10px 1px rgba(192, 192, 192, 0.493);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        img {
            width: 100%;
            object-fit: scale-down;
        }
    }
}

@include respond(large-phone) {
    .Partners {
        margin-top: 60px;
        margin-bottom: 60px;
        h3 {
            font-size: 1.8rem;
            margin-bottom: 50px;
        }
    }
}
